<launch>
  <!-- set realsense:=true to launch realsense node -->
  <arg name="realsense" default="false"/>
  <!-- distance from camera to the floor and the top of robot, to bound observed obstacles when constructing occupancy map -->
  <arg name="cam_to_floor" default="-0.1"/>
  <arg name="cam_to_top" default="1.0"/>

  <node name="map_vslam_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.5708 0 -1.5708 /map /vslam_origin 100" />

  <node name="base_camera_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_link /camera_link 100" />

  <node pkg="maslam" type="maslam" name="maslam" output="screen">
    <param name="reference_frame" value="vslam_origin"/>
    <param name="pub_tf_parent_frame" value="map"/>
    <param name="pub_tf_child_frame" value="base_link"/>
    <param name="image_topic" value="camera/color/image_raw"/>
    <param name="depth_topic" value="camera/depth/image_rect_raw"/>
    <!--remap from="maslam/pose2d" to="/pose"/-->
  </node>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" output="screen">
    <remap from="cloud_in" to="/camera/depth/color/points"/>
    <param name="occupancy_min_z" value="$(arg cam_to_floor)"/>
    <param name="occupancy_max_z" value="$(arg cam_to_top)"/>
    <param name="camera_min_z" value="0.1"/>
  </node>

  <include file="$(find realsense_ros_camera)/launch/rs_aligned_depth.launch" if="$(arg realsense)">
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find maslam)/launch/maslam.rviz" />
</launch>
